<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>sugarfi | 404 Not Found</title>
        <link rel="stylesheet" href="/css/style.css">
        <meta name="og:title" content="sugarfi | 404 Not Found">
        <meta name="og:description" content="404 Not Foundb">
        <meta name="og:image" content="/images/deco.jpg">
    </head>
    <body>
        <header id="logo">
            <h1 data-glitch="404">404</h1>
            <h2>not found</h2>
            <a href="/">take me back</a>
        </header>
    </body>
</html>