<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>sugarfi | <%= post[0] %></title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/md.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.21.0/themes/prism-tomorrow.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.13.0/css/OverlayScrollbars.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.13.0/js/OverlayScrollbars.min.js"></script>
        <meta name="keywords" content="sugarfi, languages, design, web, blog, website">
        <meta name="og:title" content="sugarfi | <%= post[0] %>">
        <meta name="og:description" content="<%= post[2][..300] %>">
        <meta name="description" content="<%= post[2][..300] %>">
        <meta name="og:image" content="/images/deco.jpg">
    </head>
    <body>
        <main>
            <h1><%= post[0] %></h1>
            <time datetime="<%= post[1] %>">Posted on <%= post[1].to_s "%F %I:%M %P" %></time>
            <a href="/">Back to home</a>
            <div class="md">
                <%= post[2] %>
            </div>
        </main>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                OverlayScrollbars(document.querySelectorAll("body"), {
                    className: "os-theme-light",
                });
            });
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.21.0/components/prism-core.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.21.0/plugins/autoloader/prism-autoloader.min.js"></script>
        <footer>
            Copyright 2020 sugarfi
        </footer>
    </body>
</html>